
/* Sidebar styles */
.sidebar {
  width: 60px; /* Initial width of the sidebar */
  height: 100vh; /* Full height */
  background-color: #343a40; /* Dark background */
  position: fixed; /* Fixed position */
  transition: width 0.3s; /* Smooth transition for width change */
}

.sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px; /* Height of the header */
  background-color: #00ff1a; /* Header background */
}

.menu-toggle {
  cursor: pointer;
  color: white;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the items horizontally */
}

.sidebar-menu a {
  padding: 15px 0;
  color: white; /* Text color */
  text-decoration: none; /* Remove underline */
  display: flex; /* Use flexbox for alignment */
  justify-content: center; /* Center the icon and text horizontally */
  align-items: center; /* Center the icon and text vertically */
  width: 100%; /* Full width of the sidebar */
}

.sidebar-menu .menu-text {
  display: none; /* Hide text initially */
  margin-left: 10px; /* Space between icon and text */
}

.sidebar-menu a:hover {
  background-color: #00ff44; /* Hover color */
}

.sidebar.active {
  width: 200px; /* Expanded width */
}

.sidebar.active .menu-text {
  display: inline; /* Show text when active */
}